In [2]:
import numpy as np 
import pandas as pd

In [9]:
df_csv = pd.read_csv('pandas\\data\\my_csv.csv')
df_csv

   col1 col2  col3    col4      col5
0     2    a   1.4   apple  2020/1/1
1     3    b   3.4  banana  2020/1/2
2     6    c   2.5  orange  2020/1/5
3     5    d   3.2   lemon  2020/1/7

In [99]:
df_txt = pd.read_table('pandas/data/my_table.txt')
df_txt.shape#(4,4)
df_txt

   col1 col2  col3             col4
0     2    a   1.4   apple 2020/1/1
1     3    b   3.4  banana 2020/1/2
2     6    c   2.5  orange 2020/1/5
3     5    d   3.2   lemon 2020/1/7

In [100]:
ds = pd.Series(np.random.random(5))
ds # series只能是一维的，但是这个一维的元素可以是一个数组

0    0.312954
1    0.429275
2    0.501742
3    0.739662
4    0.730914
dtype: float64

In [91]:
dates = pd.date_range('20220824',periods= 6)
dates
d1 = pd.DataFrame(np.random.random((6,4))) #df 可以直接从二维数组生成，index和columns是可选的optional
d1
d1[d1>0.1]

          0         1         2         3
0  0.908366       NaN  0.630623  0.610576
1       NaN  0.697159  0.179782       NaN
2  0.202229  0.470512  0.968239  0.472391
3  0.231401  0.379925  0.422817  0.341970
4  0.139726  0.966248  0.393710  0.199776
5  0.534823  0.554263  0.307104  0.901721

In [98]:
d1[d1>0.1][1].count() #5 只有一列的时候，对这一列计数   count 可以自己排除nan
d1[d1>0.1][1].dropna().count() #5 

d1[d1>0.1].dropna()#.count()  # 全为4  横着计数
d1[d1>0.1].dropna().count()   #同样全为4

0    4
1    4
2    4
3    4
dtype: int64

In [121]:
df = pd.read_csv('pandas/data/pokemon.csv')
df['Name'] #可以是一个列名
df[['Name']] #可以是一个数组或list
df[['Name','Type 1']] #只能有一个变量，取两列需要写进一个列表里
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65
...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70

In [128]:
(df[['HP','Attack','Defense','Sp. Atk','Sp. Def','Speed']]).sum(1)

0      318
1      405
2      525
3      625
4      309
      ...
795    600
796    700
797    600
798    680
799    600
Length: 800, dtype: int64

In [134]:
(df[['HP','Attack','Defense','Sp. Atk','Sp. Def','Speed']].sum(1) != df['Total']).mean()
#使用 == 得到1，不够直观，所以使用！=

0.0