In [2]:
import numpy as np 
import pandas as pd

In [9]:
df_csv = pd.read_csv('pandas\\data\\my_csv.csv')
df_csv

   col1 col2  col3    col4      col5
0     2    a   1.4   apple  2020/1/1
1     3    b   3.4  banana  2020/1/2
2     6    c   2.5  orange  2020/1/5
3     5    d   3.2   lemon  2020/1/7

In [99]:
df_txt = pd.read_table('pandas/data/my_table.txt')
df_txt.shape#(4,4)
df_txt

   col1 col2  col3             col4
0     2    a   1.4   apple 2020/1/1
1     3    b   3.4  banana 2020/1/2
2     6    c   2.5  orange 2020/1/5
3     5    d   3.2   lemon 2020/1/7

In [100]:
ds = pd.Series(np.random.random(5))
ds # series只能是一维的，但是这个一维的元素可以是一个数组

0    0.312954
1    0.429275
2    0.501742
3    0.739662
4    0.730914
dtype: float64

In [337]:
dates = pd.date_range('20220824',periods= 6)
dates
np.random.seed(0)
d1 = pd.DataFrame(np.random.random((6,4))) #df 可以直接从二维数组生成，index和columns是可选的optional
d1
# 如何添加限制条件
d1[d1>0.1][0:6][[0,2,2,3]] #列名加两个框，并且通过名字来索引，可以重复
d1[2:4][[0,3]][d1>0.1]  #只要取出来的是df，就可以在后面加判别条件

#下面这个不行！单列取出来是Series，不能这么用
a = d1[2][[0,3]] #type(a) #Series
a

#a = d1[2][[0,3]][d1>0.1]

0    0.602763
1    0.437587
2    0.791725
3    0.071036
4    0.778157
5    0.461479
Name: 2, dtype: float64

# 如何用serie 取行？

# d1[0] 取第0列 用Series取列

# d1[0:1]  取第一行  即用DataFrame取行

# d1[[0]]   取第一列  即用DataFrame取列

# 索引的具体使用，下一节细说

In [98]:
d1[d1>0.1][1].count() #5 只有一列的时候，对这一列计数   count 可以自己排除nan
d1[d1>0.1][1].dropna().count() #5 

d1[d1>0.1].dropna()#.count()  # 全为4  横着计数
d1[d1>0.1].dropna().count()   #同样全为4

0    4
1    4
2    4
3    4
dtype: int64

# 练习解答

In [474]:
df = pd.read_csv('pandas/data/pokemon.csv')
df['Name'] #可以是一个列名
df[['Name']] #可以是一个数组或list
df[['Name','Type 1']] #只能有一个变量，取两列需要写进一个列表里
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65
...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70

In [128]:
(df[['HP','Attack','Defense','Sp. Atk','Sp. Def','Speed']]).sum(1)

0      318
1      405
2      525
3      625
4      309
      ...
795    600
796    700
797    600
798    680
799    600
Length: 800, dtype: int64

In [241]:
(df[['HP','Attack','Defense','Sp. Atk','Sp. Def','Speed']].sum(1) != df['Total']).mean()
#使用 == 得到1，不够直观，所以使用！=

0.0

In [242]:
#方法一，直接取列Type1
df[['Type 1']].drop_duplicates('Type 1').count()

Type 1    18
dtype: int64

In [349]:
#方法二 nuniqie
df_dup = df.drop_duplicates('#',keep="first")
df_dup[['Type 1']].nunique()

Type 1    18
dtype: int64

In [253]:
df_dup[['Type 1']].value_counts()[:3]  #上面的比下面的多保留了一个列名
#上面的是dataframe，下面的是series
df_dup['Type 1'].value_counts()[:3]

Type 1
Water     105
Normal     93
Grass      66
dtype: int64

In [257]:
df_dup.drop_duplicates(['Type 1','Type 2'])[['#']].count()

#    143
dtype: int64

In [386]:
df_dup.drop_duplicates(['Type 1','Type 2']).shape[0]
attr_dup = df_dup.drop_duplicates(['Type 1','Type 2'])
attr_dup.shape[0]

143

In [379]:
#df_dup[['Type 1']].unique() # 'DataFrame' object has no attribute 'unique'
#df_dup[['Type 1']].nunique() #18
df_dup['Type 1'].unique()   # all types
    #array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
    #       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
    #       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)
#df_dup['Type 1'].nunique() #18
df_dup['Type 2'].unique()

array(['Poison', nan, 'Flying', 'Ground', 'Fairy', 'Grass', 'Fighting',
       'Psychic', 'Steel', 'Ice', 'Rock', 'Water', 'Electric', 'Fire',
       'Dragon', 'Dark', 'Ghost', 'Bug', 'Normal'], dtype=object)

In [408]:
#求尚未出现的属性组合
#将两列拼接起来
p_all = [' '.join([i,j]) if i!=j else i 
         for j in df_dup['Type 1'].unique() for i in df_dup['Type 1'].unique() ]
#后一个循环不能用Type2 因为里面有nan，np.nan是float，不是string
p_used = [' '.join([i,j]) if type(j)!=float else i
         #for i in attr_dup['Type 1'] for j in attr_dup['Type 2']  #143*143=20449项
         for i,j in zip(attr_dup['Type 1'],attr_dup['Type 2'] )   #143 项
         ]
p_all
p_used

['Grass Poison',
 'Fire',
 'Fire Flying',
 'Water',
 'Bug',
 'Bug Flying',
 'Bug Poison',
 'Normal Flying',
 'Normal',
 'Poison',
 'Electric',
 'Ground',
 'Poison Ground',
 'Fairy',
 'Normal Fairy',
 'Poison Flying',
 'Bug Grass',
 'Fighting',
 'Water Fighting',
 'Psychic',
 'Water Poison',
 'Rock Ground',
 'Water Psychic',
 'Electric Steel',
 'Water Ice',
 'Ghost Poison',
 'Grass Psychic',
 'Ground Rock',
 'Grass',
 'Psychic Fairy',
 'Ice Psychic',
 'Water Flying',
 'Rock Water',
 'Rock Flying',
 'Ice Flying',
 'Electric Flying',
 'Dragon',
 'Dragon Flying',
 'Water Electric',
 'Fairy Flying',
 'Psychic Flying',
 'Water Fairy',
 'Rock',
 'Grass Flying',
 'Water Ground',
 'Dark',
 'Dark Flying',
 'Ghost',
 'Normal Psychic',
 'Bug Steel',
 'Ground Flying',
 'Steel Ground',
 'Bug Rock',
 'Bug Fighting',
 'Dark Ice',
 'Fire Rock',
 'Ice Ground',
 'Water Rock',
 'Steel Flying',
 'Dark Fire',
 'Water Dragon',
 'Rock Dark',
 'Psychic Grass',
 'Fire Fighting',
 'Water Grass',
 'Grass Dark',
 'Bug Water',
 'Grass Fighting',
 'Bug Ground',
 'Bug Ghost',
 'Dark Ghost',
 'Steel Fairy',
 'Steel Rock',
 'Fighting Psychic',
 'Water Dark',
 'Fire Ground',
 'Ground Dragon',
 'Rock Psychic',
 'Ground Psychic',
 'Rock Grass',
 'Rock Bug',
 'Ice',
 'Ice Water',
 'Steel Psychic',
 'Steel',
 'Dragon Psychic',
 'Grass Ground',
 'Water Steel',
 'Normal Water',
 'Rock Steel',
 'Ghost Flying',
 'Poison Dark',
 'Ghost Dark',
 'Dragon Ground',
 'Fighting Steel',
 'Poison Bug',
 'Poison Fighting',
 'Grass Ice',
 'Psychic Fighting',
 'Ice Ghost',
 'Electric Ghost',
 'Steel Dragon',
 'Fire Steel',
 'Ghost Dragon',
 'Psychic Fire',
 'Ground Steel',
 'Grass Fairy',
 'Ground Dark',
 'Dark Fighting',
 'Normal Grass',
 'Water Ghost',
 'Bug Electric',
 'Grass Steel',
 'Ghost Fire',
 'Ground Electric',
 'Ground Ghost',
 'Dark Steel',
 'Dark Dragon',
 'Bug Fire',
 'Steel Fighting',
 'Rock Fighting',
 'Flying',
 'Dragon Fire',
 'Dragon Electric',
 'Dragon Ice',
 'Fire Psychic',
 'Normal Ground',
 'Fire Normal',
 'Fighting Dark',
 'Steel Ghost',
 'Dark Psychic',
 'Poison Water',
 'Poison Dragon',
 'Electric Normal',
 'Rock Dragon',
 'Rock Ice',
 'Fighting Flying',
 'Electric Fairy',
 'Rock Fairy',
 'Ghost Grass',
 'Flying Dragon',
 'Psychic Ghost',
 'Fire Water']

# 注意拼接i，j的时候，到底有没有空格

In [422]:
res = set(p_all).difference(set(p_used))
len(res)

181

In [440]:
df['Attack'].mask(df['Attack']>120,'high'
                 ).mask(df['Attack']< 50,'low'
                       ).mask(
                        (df['Attack']<=120) & (df['Attack']>=50),'mid').head()

0    low
1    mid
2    mid
3    mid
4    mid
Name: Attack, dtype: object

In [508]:
df['Type 1'].replace({i:str.upper(i) for i in df['Type 1']} )

Wall time: 0 ns

0        GRASS
1        GRASS
2        GRASS
3        GRASS
4         FIRE
        ...
795       ROCK
796       ROCK
797    PSYCHIC
798    PSYCHIC
799       FIRE
Name: Type 1, Length: 800, dtype: object

In [517]:
for i in df['Type 1']:
    a = df['Type 1'].replace(i,str.upper(i))
a.head(20)

0     Grass
1     Grass
2     Grass
3     Grass
4      FIRE
5      FIRE
6      FIRE
7      FIRE
8      FIRE
9     Water
10    Water
11    Water
12    Water
13      Bug
14      Bug
15      Bug
16      Bug
17      Bug
18      Bug
19      Bug
Name: Type 1, dtype: object

In [521]:
df['Type 1'].apply(lambda x:str.upper(x)).head(6)

0    GRASS
1    GRASS
2    GRASS
3    GRASS
4     FIRE
5     FIRE
Name: Type 1, dtype: object

In [530]:
df['Deviation'] = df[['HP','Attack','Defense','Sp. Atk','Sp. Def','Speed']].apply(lambda x:np.max( (x-x.median()).abs()),1)
# 最后一位表示坐标轴 axis=1 横着在一行上运算
df.sort_values('Deviation',ascending = False)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Deviation
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,215.0
121,113,Chansey,Normal,NaN,450,250,5,5,35,105,50,207.5
261,242,Blissey,Normal,NaN,540,255,10,10,75,135,55,190.0
333,306,AggronMega Aggron,Steel,NaN,630,70,140,230,60,80,50,155.0
224,208,SteelixMega Steelix,Steel,Ground,610,75,125,230,55,95,30,145.0
...,...,...,...,...,...,...,...,...,...,...,...,...
143,132,Ditto,Normal,NaN,288,48,48,48,48,48,48,0.0
165,151,Mew,Psychic,NaN,600,100,100,100,100,100,100,0.0
255,236,Tyrogue,Fighting,NaN,210,35,35,35,35,35,35,0.0
206,191,Sunkern,Grass,NaN,180,30,30,30,30,30,30,0.0
271,251,Celebi,Psychic,Grass,600,100,100,100,100,100,100,0.0

# EX2 指数加权窗口

In [545]:
np.random.seed(0)
s = pd.Series(np.random.randint(-1,2,30).cumsum()) #返回累计和
s.ewm(alpha=0.2).mean().head()

0   -1.000000
1   -1.000000
2   -1.409836
3   -1.609756
4   -1.725845
dtype: float64

In [548]:
def ewm_func(x,alpha=0.2):
    win = (1-alpha)**np.arange(x.shape[0])[::-1]
    res = (win*x).sum()/win.sum()
    return res
s.expanding().apply(ewm_func).head()

0   -1.000000
1   -1.000000
2   -1.409836
3   -1.609756
4   -1.725845
dtype: float64

In [555]:
s.rolling(window=5).apply(ewm_func).head() #规定了window宽度

0         NaN
1         NaN
2         NaN
3         NaN
4   -1.725845
dtype: float64